.container-about {
   text-align: center;
   font-family: Verdana;
   padding-top: 40px;
}

.container-about h1 {
    font-size: 40px;
}

.container-about .head {

    margin-bottom: 50px;
}
/* .container-about .card {
    background-color: rgb(164, 216, 164);
    border: 0.5px solid black;
    
} */

.tutorial .gambar {
    background-color: green;
    border: 3px solid red;
    

}

.tutorial .card {
    font-size: 20px;
    border: 3px solid green;
    padding: 40px;
}


.gridSwitch{
    display : flex;
    flex-direction : row-reverse;
}

@media only screen and (max-width: 990px) {
    .gridSwitch {
      display: block
    }
  }

.tutorial {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.container-about .baris img {
    width: 300px;
    
}

.container-about .baris {
    border: 3px solid gold;
}

