.ruangan {
    background-color: rgb(73, 116, 160);
}
.ruangan .navbar ul li{
    display: inline-block;
    
}

.ruangan .navbar ul {
    margin: 0
}
.ruangan .cari {
    width : 90%;
    margin: auto;
}
.ruangan a{
    color: white;
    display: block;
    text-align: center;
    padding: 15px 15px;
}

.ruangan a:hover {
    background-color: grey;
    
}

.ruangan .option {
    width: 100%;
}
.ruangan .option .tengah{
    margin-top: 12px;
}

.atas {
    background-color: green;
}

/* style gallery */
.main-ruangan {

padding-top: 20px;

}
.main-ruangan .konten {
   width: 90%;
   margin: auto;
   
    
}

.main-ruangan .kolom{
    /* background-color: green;
    
    border: 1px solid yellow; */
    box-sizing: border-box;
    min-height: 300px;
    margin-bottom: 40px;
}

.main-ruangan .kolom .tengah{
    margin: auto;
}