.book {
    background-color:rgb(73, 116, 160);
    padding-bottom: 40px;
    margin-bottom: 0;
    padding-top: 40px;
}

.book h1 {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.gallery .card {
    /* border: 3px solid green; */
    margin-bottom: 40px;
}

.gallery .tengah {
    /* border: 3px solid red; */
    margin: auto;
    
}
.gallery {
    width: 90%;
    margin: auto;
}

.baris {
    margin-bottom: 40px;
}