.form{
    padding: 50px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    

}

.img-form{
    padding: 50px;
    margin: 0;
    background-color:;
}

.card-section{
   height: 500px;
}

